<div class="container mb-4 mt-0 p-5" style="background-color: white; color: black; width: 800px; ">
  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :species %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :photo, as: :file %>
      <div class="form-actions">
    <%= f.button :submit, "Add Pet", class:"btn-login " %>
  </div>
  <% end %>

</div>
