<div class="container">
  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :species %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>

</div>
