<div class="container mb-4 mt-0 p-5" style="background-color: white; color: black; width: 800px; ">
  <%= simple_form_for(@pet) do |f| %>
    <h2 class= "text-center">Details of the Pet   <i class="fa-solid fa-paw" style="font-size: 30px; color: #225820; margin-right:10px"></i>
    </h2>
    <hr>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :species %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :photo, as: :file %>
    <div class="form-actions-add-pet">
      <%= f.button :submit, "Add Pet", class:"btn-login" %>
    </div>
  <% end %>
</div>
