<div class="container">

<div class="row mt-5">
  <div class="new-wrapper">
    <h1 style="text-align:center">Allow me to introduce you to <%= @pet.name %></h1>
       <% if @pet.photo.key%>
              <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <% if @pet.species == "dog" %>
                  <%= image_tag("dog.png")%>

              <% elsif @pet.species == "monkey" %>
              <%= image_tag("monkey.png")%>

              <% elsif @pet.species == "cat" %>
              <%= image_tag("cat.png")%>

              <% elsif @pet.species == "piglet" %>
              <%= image_tag("piglet.png")%>

              <% elsif @pet.species == "rabbit" %>
              <%= image_tag("rabbit.png")%>
      <% end %>
      <% end %>

  </div>
</div>
<div class="container">
  <div class="row mt-4">
    <h3>Address: <%= @pet.address %></h3>
    <h3>Species: <%= @pet.species.capitalize %></h3>
    <h3>Age: <%= @pet.age %></h3>
    <h3>A little information about <%= @pet.name %> </h3><br><p><%= @pet.description %></p>

  </div>
  <%= link_to "Return to home", root_path, class: "btn-sign-up" %>
  <%= link_to "Book this Pet", new_pet_booking_path(@pet), class: "btn-sign-up" %>
</div>

</div>
