<div class="container-show">
  <div class="flex-wrap">
    <div class="show-image">
      <% if @pet.photo.key%>
                  <%= cl_image_tag @pet.photo.key, c: :crop, g: :auto %>
                <% else %>
                  <div class="card-product-show">
                    <div class="card-image-show">
                      <div class="card-product img">
                        <% if @pet.species == "dog" %>
                        <%= image_tag ("dog.png")%>
                        <% elsif @pet.species == "monkey" %>
                        <%= image_tag("monkey.png")%>
                        <% elsif @pet.species == "cat" %>
                        <%= image_tag("cat.png")%>
                        <% elsif @pet.species == "piglet" %>
                        <%= image_tag("piglet.png")%>
                        <% elsif @pet.species == "rabbit" %>
                        <%= image_tag("rabbit.png")%>
                        <% end %>
                      </div>
                    </div>

                  </div>

          <% end %>
    </div>
    <div>
      <h3 class="show-image">Allow me to introduce you to <%= @pet.name %> </h3>
    </div>
  </div>

</div>

<div class="container-show">
  <div class="ul-container-show">
    <div class="show-info-pet">
        <p>Address: <%= @pet.address %></p>
        <p>Species: <%= @pet.species.capitalize %> </p>
        <p>Age: <%= @pet.age %></p>
        <p>A little information about <%= @pet.name %> </p>
        <p><%= @pet.description %>🌈</p>
    </div>
  </div>
</div>




<ul class="show-btn">
      <li><%= link_to "Return to home", root_path, class: "btn-return" %></li>
      <li><%= link_to "Book this Pet", new_pet_booking_path(@pet), class: "btn-book-pet" %></li>
</ul>
