<div class="container-show">
  <div class="flex-wrap">
    <div class="show-image animate__animated animate__rollIn animate__delay-.5s">
      <% if @pet.photo.key%>
                  <%= cl_image_tag @pet.photo.key, c: :crop, g: :auto %>
                <% else %>
                  <div class="card-product-show">
                    <div class="card-image-show">
                      <div class="card-product img">
                        <% if @pet.species == "dog" %>
                        <%= image_tag ("https://images.unsplash.com/photo-1530281700549-e82e7bf110d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80")%>
                        <% elsif @pet.species == "monkey" %>
                        <%= image_tag("https://images.unsplash.com/photo-1516636052745-e142aecffd0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80")%>
                        <% elsif @pet.species == "cat" %>
                        <%= image_tag("https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")%>
                        <% elsif @pet.species == "piglet" %>
                        <%= image_tag("https://images.unsplash.com/photo-1617167152074-821b4f8af3d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")%>
                        <% elsif @pet.species == "rabbit" %>
                        <%= image_tag("https://images.unsplash.com/photo-1591382386627-349b692688ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")%>
                        <% end %>
                      </div>
                    </div>

                  </div>

          <% end %>
    </div>
    <div>
      <h3 class="animate__animated animate__jackInTheBox animate__delay-.8s show-image">Allow me to introduce you to <%= @pet.name %> </h3>
    </div>
  </div>

</div>

<div class="container-show">
  <div class="ul-container-show">
    <div class="show-info-pet animate__animated animate__jackInTheBox animate__delay-.8s">
        <p>Address: <%= @pet.address %></p>
        <p>Species: <%= @pet.species.capitalize %> </p>
        <p>Age: <%= @pet.age %></p>
        <p>A little information about <%= @pet.name %> </p>
        <p><%= @pet.description %>🌈</p>
    </div>
  </div>
</div>

<div class="container" data-controller="insert-in-list">
<h2><%= pluralize @pet.reviews.size, "review" %></h2>


  <div data-insert-in-list-target="items">
  <% if @pet.reviews.blank? %>
    Be the first to leave a review for <%= @pet.name %>
  <% else %>
    <% @pet.reviews.each do |review| %>
    <%= render "reviews/review", review: review %>
    <% end %>
  <% end %>
  </div>

<%= render 'reviews/form', pet: @pet, review: @review %>
</div>





<ul class="show-btn">
      <li><%= link_to "Back to all Pets", pets_path, class: "btn-return" %></li>
      <li><%= link_to "Book this Pet", new_pet_booking_path(@pet), class: "btn-book-pet" %></li>
</ul>
