<div class="container">

<div class="row mt-5">
  <div class="new-wrapper">
    <h1 style="text-align:center">Allow me to introduce you to <%= @pet.name %></h1>
      <% if @pet.species == "dog" %>
        <%= image_tag("dog.png")%>

        <% elsif @pet.species == "monkey" %>
         <%= image_tag("monkey.png")%>

         <% elsif @pet.species == "cat" %>
         <%= image_tag("cat.png")%>

         <% elsif @pet.species == "piglet" %>
         <%= image_tag("piglet.png")%>

         <% elsif @pet.species == "rabbit" %>
         <%= image_tag("rabbit.png")%>

      <% end %>
  </div>
</div>
  <div class="row mt-4">
    <h3>Postcode: <%= @pet.postcode %></h3>
    <h3>Species: <%= @pet.species.capitalize %></h3>
    <h3>Age: <%= @pet.age %></h3>
    <h3>A little information about <%= @pet.name %> </h3><br><%= @pet.description %><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
  <%= link_to "Return to home", root_path, class: "btn-sign-up" %>
  <%= link_to "Book this Pet", new_pet_booking_path(@pet), class: "btn-sign-up" %>
</div>
