
<strong>Date: <%= @booking.date %></strong>

<h3>Postcode: <%= @booking.pet.postcode %></h3>
    <h3>Species: <%= @booking.pet.species.capitalize %></h3>
    <h3>Age: <%= @!booking.pet.age %></h3>
    <h3>Owner: <%= @pet.user.first_name %></h3>
