
<h2 class='section-headline'>Check out our Pets:</h2>


    <div class="cards">

      <% @pets.each do |pet| %>
        <div class="card-product">

          <div class="card-image" >
            <% if pet.photo.key%>
              <%= cl_image_tag pet.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <% if pet.species == "dog" %>
                  <%= image_tag("dog.png")%>

              <% elsif pet.species == "monkey" %>
              <%= image_tag("monkey.png")%>

              <% elsif pet.species == "cat" %>
              <%= image_tag("cat.png")%>

              <% elsif pet.species == "piglet" %>
              <%= image_tag("piglet.png")%>

              <% elsif pet.species == "rabbit" %>
              <%= image_tag("rabbit.png")%>

              <% end %>
            <% end %>
          </div>

          <div class="card-product-infos">
            <p class="info-name"><%= pet.name %></p>
            <p><%= pet.species.capitalize %></p>
             <p>Personality: <%= pet.category.capitalize %></p>
            <p>age: <%= pet.age %></p>
            <p><%= link_to 'Learn More', pet_path(pet), class:"mb-3" %></p>
          </div>

        </div>
      <% end %>

    </div>


  <div class="container-btn-create d-flex">
    <div class="box">
      <%= link_to "Create a new pet", new_pet_path, class: "btn-create-new" %>
    </div>
    </div>
