<%= form_with url: pets_path, method: :get, class: "d-flex m-1 justify-content-between container w-50" do %>
  <%= select_tag "species", raw("<option>All</option><option>Dog</option><option>Cat</option><option>Pig</option><option>Monkey</option>"),
      prompt: 'Select Pet type',
   class: "form-control"
  %>
  <br>
    <%= text_field_tag :city,
    params[:city],
    class: "form-control",
    placeholder: "City/Address"
  %>
   <%= number_field_tag :price, params[:price], min: 1, max: 10000000, placeholder: "Max Price"
  %>
  <%= submit_tag "Search", class: "btn btn-primary b" %>
<% end %>
