<div class="cards-container-dashboard">

    <div class="cards-dashboard">
<h1>Welcome back <%= current_user.first_name %></h1>
<h2>My Bookings</h2>

<% @bookings.each do |booking| %>
    <div class="card-product">
      <div class="card-product-infos">
        <div>

        <h3>You have booked a date with <%= booking.pet.name %> on <strong><%= booking.date %></strong></h3>
        <h3> Address: <%= booking.pet.address %></h3>
        <h3>onwer: <%= booking.pet.user.first_name %></h3>
        <%= link_to "Message", root_path, class: "btn btn-primary" %>

        <%=  <%= cl_image_tag booking.pet.photo.key, height: 300, width: 400, crop: :fill %>%>

        </div>
        </div>
</div>
<% end %>


</div>

</div>
